html, body{
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
}
*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
a,p,h3,h2,h1,li,ul,div,section{padding: 0;}

.corDeFundoRoxo{
    background-color: #FFF8F0;
}
.corDoTitulo{
    color: #9E2B25;
}
.altura{
    height: 100px;
}
.bannerPromocao{
    height: 520px;
    background-image: url("img/daniel-von-appen-sD1VpeflHBY-unsplash.jpg"); 
    background-size: cover;background-position: center; background-repeat: no-repeat;
}
.botaoCentralizadoNoBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:220px ;
}
.leveMaisPagueMenos{
    display: flex;
    background: #2A0C4E;
    width: 20%;
    padding: 15px 0px;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
}
.width80{
    width: 80%; margin: 0 auto ;
}
.categoria{
    width: 420px;
    height: 500px;
    overflow: hidden;margin: 5px;
}
.categoria img{
    width: 100%;
}

.circulo{
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 50%;
}
.circulo img{
    width: 100%;
}
.boxImg {
    width: 15%;
}
.boxImg img{
    width: 100%;
}
.logo{
    font-weight: bolder;
    font-size: 1.4em;
    color: rgb(90, 90, 90);
    padding: 0 10px;
}
.input-menu
{
    width:300px;
    height: 40px;
    margin: 0 auto;
    border: none; 
    border:solid 1px #ccc;
    border-radius: 35px;
    padding: 0 20px;  
}
.imgTresLinhas{
    width: 18px;
}