*{
    box-sizing: border-box;padding: 0;margin: 0;
}
.corDeFundoRoxo{
    background-color: #53135D;
}
.altura{
    height: 100px;
}
.bannerPromocao{
    height: 520px;
    background-image: url("img/fashion-1031469_1920.jpg"); 
    background-size: cover;background-position: center; background-repeat: no-repeat;
}
.botaoCentralizadoNoBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:220px ;
}
.leveMaisPagueMenos{
    display: flex;
    background: #53135D;
    width: 20%;
    padding: 15px 0px;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
}
.width80{
    width: 80%; margin: 0 auto ;
}
.categoria{
    width: 240px;
    height: 300px;
    overflow: hidden;
}
.categoria img{
    width: 100%;
}

.circulo{
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 50%;
}
.circulo img{
    width: 100%;
}
.boxImg {
    width: 30%;
}
.boxImg img{
    width: 100%;
}